# ==========================================
# C# / .NET Build Artifacts & Intermediate Files
# ==========================================
obj/
bin/
*.user
*.suo
*.cache
*.pdb

# ==========================================
# VS Code / Visual Studio Local Workspace Files
# ==========================================
.vs/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# ==========================================
# OS Junk
# ==========================================
.DS_Store
Thumbs.db
[Dd]esktop.ini

# ==========================================
# Mod Assemblies - prevent binary bloat
# ==========================================
# 1.5/Assemblies/OverHaulers.dll
# 1.6/Assemblies/OverHaulers.dll etc.
*/Assemblies/*.dll

# ==========================================
# Reference Libraries - Copyright sensitive
# These binaries are proprietary to Ludeon Studios / Unity Technologies
# ==========================================
# Blanket ignore for all reference .dll
Libraries/**/*.dll